@import "~bulma/sass/utilities/_all";

$dimensions: 16 24 32 48 64 96 128 256 400 512;

$primary: #573b2d;
$primary-invert: findColorInvert($primary);

$size-large: $size-3;

$colors: (
    "primary": ($primary, $primary-invert),
);

@import "~bulma";
@import "~buefy/src/scss/buefy";

